.App {

}

.App-content {
    margin: 20px;
}

.App-navigation ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.App-navigation li {
  list-style: none;
  font-size: 1.2rem;
  font-weight: bold;
  display: inline-block;
  margin: 10px 5px;
}

.App-navigation a {
  color: black;
  text-decoration: none;
  border: 1px solid #ddd;
  padding: 8px 10px;
  border-radius: 10px;
}

.App-navigation a:hover {
  background: #eee;
}

.App-header {
  background: rgb(48,183,185);
  background: linear-gradient(311deg, rgba(48,183,185,1) 0%, rgba(45,137,253,1) 100%);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: white;
}

.App-header h1 {
  margin: 10px 0;
  text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
}

.App-header p {
  font-size: 1.4rem;
  margin: 5px 0 15px 0;
}

.App-logo {
  height: 10vmin;
  display: inline-block;
  vertical-align: -30%;
  margin-right: 14px;
  filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.2));
}

.App-link {
  color: #067ff0;
}

.App-main {
  padding: 10px 15px;
}

.App-main div {
  margin: 10px auto;
  max-width: 1000px;
}

.App-footer {
  margin-top: 1rem;
  border-top: 0.3em solid #eee;
  font-size: 0.8rem;
  color: #999;
  text-align: center;
}