body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fefefe;
  color: #222;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  appearance: none;
  border: none;
  padding: 8px 10px;
  cursor: pointer;
  background: #eee;
  border-radius: 4px;
  font-size: 1.4em;
  margin-left: 5px;
}

button:hover {
  background: #ddd;
}

input[type="text"], textarea {
  border: 1px solid #aaa;
  appearance: textfield;
  display: block;
  width: calc(100% - 20px);
  font-size: 1.2em;
  margin: 5px;
  padding: 8px;
  border-radius: 4px;
}

textarea {
  min-height: 10em;
}